<!doctype html>
<html lang="es">
<head>
    <title>Happydonia</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="lang" content="es">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">

    {% block extra_stylesheets %}{% endblock %}
</head>
<body>
    {% for message in app.session.flashBag.get('success') %}
        <p style="color: green; background-color: gray" class="text-center">{{ message }}</p>
    {% endfor %}

    {% for message in app.session.flashBag.get('error') %}
        <p style="color: red; ; background-color: gray" class="text-center">{{ message }}</p>
    {% endfor %}

    {% block body %}{% endblock %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>